.App {
    text-align: center;
}

.scorebox {
    grid-area: scorebox;
}
.scoreright {
    grid-area: scoreright;
}
.scorebottom {
    grid-area: scorebottom;
}
.corner {
    grid-area: corner;
}

.scorebox-container {
    display: inline-grid;
    grid-template-areas:
        'scorebox scoreright'
        'scorebottom corner';
    grid-gap: 0px;
    padding: 0px;
    width: 275px;
}
.MuiSelect-root {
    margin: 0 !important;
}

.MuiInputBase-input {
    padding-bottom: 0 !important;
}

.MuiInput-underline:after,
.MuiInput-underline:before {
    border-bottom: none !important;
}

@media (prefers-reduced-motion: no-preference) {
}
